// Custom colors FLAT-UI
$turquoise: #1abc9c;
$greensea: #16a085;
$emerland: #2ecc71;
$nephritis: #27ae60;
$peterriver: #3498db;
$belizehole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wetasphalt: #34495e;
$midnightblue: #2c3e50;
$sunflower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

// Custom theme colors_01
$primary_01: #264653;
$secondary_01: #2a9d8f;
$info_01: #f4a261;
$warning_01: #e9c46a;
$danger_01: #e76f51;
$c_blue: #3f88eb;
$tomato: #ff6347;
$indigo_01: #6610f2;
$cyan_01: #17a2b8;
$white: #fff;
$black: rgb(15, 15, 15);

$blue: $peterriver;
$indigo: $indigo_01;
$purple: $amethyst;
$pink: $alizarin;
$red: $tomato;
$orange: $carrot;
$yellow: $sunflower;
$green: $emerland;
$teal: $turquoise;
$cyan: $cyan_01;

// scss-docs-start colors-map
$colors: (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $asbestos,
    'gray-dark': $midnightblue,
);
// scss-docs-end colors-map

$primary: $blue;
$secondary: $wetasphalt;
$success: $teal;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $clouds;
$dark: $midnightblue;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'white': $white,
  'black': $black,
);

// Theme colors
// $primary: #1266f1;
// $secondary: #b23cfd;
// $success: #00b74a;
// $info: #39c0ed;
// $warning: #ffa900;
// $danger: #f93154;
// $light: $gray-50;
// $dark: $gray-900;

// scss-docs-start theme-colors-map
// $theme-colors: (
//   'primary': $primary,
//   'secondary': $secondary,
//   'success': $success,
//   'info': $info,
//   'warning': $warning,
//   'danger': $danger,
//   'light': $light,
//   'dark': $dark,
//   'white': $white,
//   'black': $black,
// );
// scss-docs-end theme-colors-map

